form{
    text-align: center;
    margin: 0 auto;
}
form .field{
    float: right;
}
.box{
    margin: 20px auto;
}
.card-img-top{
    margin: 10px auto;    
}
.bigP{
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
}
.centerText{
    text-align: center;
}
.discountText{
    color: gray;
    padding-bottom: 8px;
}
.dropdown-menu{
    min-width: 20rem;
    padding: .5rem 0 0 0;
}
.checkoutBtn{
    display: block;
}